@import '../../../theme.scss';

@keyframes animate-spinner {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  position: absolute;
  .spinner__circle {
    border: 1px solid transparent;
    width: 100%;
    border-radius: 50%;
    height: 100%;
    animation: .8s animate-spinner ease-in-out infinite;
  }
}

.btn--spinner {
  bottom: 5px;
  right: 5px;
}

.spinner--main {
  .spinner__circle {
    border-top-color: $main;
  }
}

.spinner--white {
  .spinner__circle {
    border-top-color: $white;
  }
}

.spinner--small {
  width: 15px;
  height: 15px;
}

.spinner--medium {
  width: 40px;
  height: 40px;
}